<%if  start - 20 >= 0 || start + 20 <= size%>
<p class='pagination'>
  <% if start - 20 >= 0 %>
    <%= link_to('« less',:start => start - 20, :class => 'less') %>
  <% end %>
  <% if start + 20 < size %>
    <%= link_to('more »',:start => start + 20, :class => 'more') %>
  <% end %>
</p>
<%end%>